footer.footer
  .footer-top
    .footer-top-left
      ul.footer-menu-ul
        li.footer-menu-elem
          a(class='footer-menu-elem-link', href='works.html') Мои работы
        li.footer-menu-elem
          a(class='footer-menu-elem-link', href='aboutme.html') Обо мне
        li.footer-menu-elem
          a(class='footer-menu-elem-link', href='blog.html') Блог
        li.footer-menu-elem
          a(class='footer-menu-elem-link', href='#') Авторизация
    .footer_social
      ul.footer_social_list
        li.footer_social_elem
          a(class='footer_social_elem_link', href='#')
            svg.footer_social_elem_svg
              use(xlink:href='assets/img/icons/vk_round.svg#vk_round')
        li.footer_social_elem
          a(class='footer_social_elem_link', href='#')
            svg.footer_social_elem_svg
              use(xlink:href='assets/img/icons/github_round.svg#github_round')
        li.footer_social_elem
          a(class='footer_social_elem_link', href='#')
            svg.footer_social_elem_svg
              use(xlink:href='assets/img/icons/in_round.svg#in_round')
  .footer-bottom
    span(class='footer-bottom-text-left').
      Я веб-разработчик из Санкт-Петербурга, и этот сайт я сделал в
      рамках обучения в Школе онлайн образования LoftSchool.
    span(class='footer-bottom-text-right').
      Олег Королько | создано с любовью в LoftSchool | 2016
