footer.footer
  .footer-top
    .footer-top-left
      ul.footer-menu-ul
        li.footer-menu-elem
          a(class='footer-menu-elem-link', href='/works') Works
        li.footer-menu-elem
          a(class='footer-menu-elem-link', href='/aboutme') About
        li.footer-menu-elem
          a(class='footer-menu-elem-link', href='/blog') Blog
        li.footer-menu-elem
          a(class='footer-menu-elem-link', href='/') Main
    //.footer_social
      ul.footer_social_list
        li.footer_social_elem
          a(class='footer_social_elem_link', href='http://vk.com/id82593')
            .vk-icon-round
        li.footer_social_elem
          a(class='footer_social_elem_link', href='https://www.linkedin.com/in/oleg-korolko-440410128')
            .in-icon-round
        li.footer_social_elem
          a(class='footer_social_elem_link', href='https://github.com/olegk101')
            .git-icon-round
  .footer-bottom
    span(class='footer-bottom-text-left').
      Web Developer from Saint-Petersburg, Russia
    span(class='footer-bottom-text-right').
      Oleg Korolko | 2016
