head
  meta(charset='utf-8')
  title Oleg Korolko Web Developer
  meta(content='Oleg Korolko' name='author')
  meta(content='Web Developer' name='description')
  meta(content='javascript, sass, jade, nodejs, front-end, back-end' name='keywords')
  meta(content='width=device-width, initial-scale=1' name='viewport')
  meta(content='ie=edge' http-equiv='x-ua-compatible')
  //- favicon block start
  link(rel="icon", type="image/png", href="/assets/img/favicon/favicon-32x32.png", sizes="32x32")
  //- favicon block end
  link(rel='stylesheet' href='/assets/css/foundation.css')
  link(rel='stylesheet' href='/assets/css/app.css')
  link(href='https://fonts.googleapis.com/css?family=Roboto:100,400,300,500' rel='stylesheet' type='text/css')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDd1JxsBzPGjhusEs2PK4kP-ZxGllebT6A&sensor=false&extension=.js')
  script(src='/assets/js/foundation.js' defer)
  script(src='/assets/js/app.js' defer)
  script(src='/js/main.js' defer)
  script(src='https://use.fontawesome.com/1561ba5226.js')
  <!--[if lt IE 9]>
  script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
  <![endif]-->
