header.header
  nav.main-icons
    .vk-icon
    .in-icon
    .git-icon

  .navigation__menu
    #nav-icon
      span#one
      span#two
      span
      span
  #overlay.overlay
    nav.overlay-menu
      ul.overlay-menu__list
        li.overlay-menu__item
          a.overlay-menu__link(href='works') Мои работы
        li.overlay-menu__item
          a.overlay-menu__link(href='blog') Блог
        li.overlay-menu__item
          a.overlay-menu__link(href='aboutme') Обо мне
        li.overlay-menu__item
            a.overlay-menu__link(href='/') Авторизация
