header.header
  nav.main-icons
    .main-icons__elem
      a(href='http://vk.com/id82593')
      .vk-icon
    .main-icons__elem
      a(href='http://linkedin.com')
        .in-icon
    .main-icons__elem
      a(href='https://github.com/olegk101')
        .git-icon
  .navigation__menu
    #nav-icon
      span#one
      span#two
      span
      span
  #overlay.overlay
    nav.overlay-menu
      ul.overlay-menu__list
        li.overlay-menu__item
          a.overlay-menu__link(href='works.html') Works
        li.overlay-menu__item
          a.overlay-menu__link(href='blog.html') Blog
        li.overlay-menu__item
          a.overlay-menu__link(href='aboutme.html') About
        li.overlay-menu__item
          a.overlay-menu__link(href='index.html ') Main
