extends test
block content
  h2.auth_header АВТОРИЗУЙТЕСЬ
  input(type='text', placeholder='логин')
  input(type='text', placeholder='пароль')
  label Я человек
    input(type='checkbox', name='checkbox')
  span Вы точно не робот?
  label Да
    input(type='radio')
  label Не уверен
    input(type='radio')
